* {
    padding:0;
    margin:0;
}
.image {
    width: 300px;
    margin: 0 450px;
    padding-left:20px;
    
}

.image-login {
    width: 300px;
    margin: 0 auto;
    padding-left:20px;

}

.auto {
    width:200px;
    margin: 0 auto;
}

.top-margin {
    margin-top: 50px;
}


.login-image {
    width: 300px;
}

.login {
    margin-top: 150px;
}

.form-label {
    text-align: left;
}

.nav {
    background-color: white;
    margin-top:200px;
    box-shadow: 0 6px 6px -6px #777;
}


.toggle {
    display: none;
}

.pad {
    margin-top:100px;
}

.small-margin {
    margin-top:20px;
}

.space {
    margin-top: 50px;
}

.small-space {
    margin-top: 20px;
}

.space-bottom {
    margin-bottom:50px
}

.bottom-padding {
    padding-bottom: 15px;
}

.paragraph {
    font-size: 1.5em;
    /* text-align: justify; */
    font-family: 'Lora', serif;
    /* font-family: 'Times New Roman', Times, serif */
}

.increase-size, h1{
    font-size: 4em;
    text-align: justify;
    font-family: 'Lora', serif;
    display: block !important
}

.small{
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
    color: grey
}

.article p:first-child:first-letter {
    color: #903;
    float: left;    
    font-size: 3em;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
  }

.follow:hover {
color: green;
cursor: pointer;
}

.footer {
    height:170px;
    background-color: #777;
    box-shadow: 0 6px 6px -6px #777;
}

.footer-links {
    color:white;
}

.tagline, .excerpt{    
    color: grey;
    font-size: .9em;
    font-family: 'Quicksand', sans-serif;
}

.excerpt {
    padding-top: 5px;
    font-size: 1em
}

div [class*="left float"] {
  float: left;
  margin-left: 0.25em;
}

div [class*="right float"] {
  float: right;
   margin-right: 0.25em;
}

.same-line{
    margin-top: -40px;
}

@media screen and (max-width: 552px){
    .logo{
        display: none;
    }
    .image.logo-small{
        display: inline!important;
        margin-left: 20%;
        width: 120px!important;
        height: 80px!important;
    }
}
@media screen and (max-width: 600px) and (min-width: 553px){
    .logo{
        margin-left: 10%;
    }
}

@media screen and (max-width: 800px) and (min-width: 601px){
    .logo{
        margin-left: 12%;
    }
}

@media screen and (min-width: 801px) and (max-width: 980px){
    .logo{
        margin-left: 25%;
    }
}

@media screen and (min-width: 981px) and (max-width: 1100px){
    .logo{
        margin-left: 30%;
    }
}

.logo-small{
    display: none;
}

.text-center{
    text-align: center!important;
}

.tick{
    font-size: 10em!important;
}

.nav-pill{
    margin-top: 20px;
    margin-right: 2%!important;
}